<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form action="/create/book" method="POST">
        <label for="title">Title:</label>
        <input type="text" name="title" placeholder="Title"><br>
        <label for="num_pages">Number of Pages:</label>
        <input type="number" name="num_pages" placeholder="Number of pages"><br>
        <input type="submit">
    </form>
    <h1>All Books:</h1>
    {%for book in books%}
        <a href="/book/favorites/{{book.id}}">{{book.title}}</a><br>
    {%endfor%}
    <a href="/users">Home</a>
</body>
</html>