<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is where the favorites should be</h1>
    <h3>{{user.user_name}}'s favorites</h3>
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th># of Pages</th>
            </tr>
        </thead>
        <tbody>
            {%for book in favorites:%}
                <tr>
                    <td>{{book.title}}</td>
                    <td>{{book.num_pages}}</td>
                </tr>
            {%endfor%}
        </tbody>
    </table>

    <form action="/favorite/by_book" method="POST">
        <input type="hidden" name="user_id" value="{{user.id}}">
        <select name="book_id">
            {%for book in unfavorited_books:%}
                <option value="{{book.id}}">{{book.title}}</option>
            {%endfor%}
        </select>
        <input type="submit">
    </form>
    <a href="/users">Home</a>
</body>
</html>