<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        h1 {
            padding: 50px;
            text-align: center;
        }
        .container{
            width: 1000px;
            margin: 0 auto;
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
            gap: 10px;
        }
        .box{
            width: 100px;
            height: 100px;
            border: 1px solid black;
            border-radius: 25px;
            background-color: {{color}};
        }
    </style>
    <title>Playground {{level}}</title>
</head>

<body>

    <h1>Welcome!</h1>

    <div class="container">
        {% for i in range(0,boxes) %}
            <div class="box"></div>
        {% endfor %}
    </div>
</body>
</html>