<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>One of my Minions</title>
</head>

<body>

    <table>

    </table><table>
        <tr>
            <th>ID (Don't read!)</th>
            <th>Monster Name</th>
            <th>Monster Habitat</th>
            <th>Monster AGE</th>
            <th>Actions</th>
        </tr>
        <tr>
            <td>{{monster.id}}</td>
            <td>{{monster.monster_name}}</td>
            <td>{{monster.monster_habitat}}</td>
            <td>{{monster.monster_age}}</td>
        </tr>
    </table>

    <a href="/monster_form">Add New Monster!</a>

</body>
</html>